.task {
  display: flex;
  border-bottom: 1px solid #ffffff4d;
}
.task-check {
  flex: 1;
}

.taskTitle {
  flex: 1;
  display: flex;
}

.text-wrapper {
  overflow: hidden;
  /* white-space: nowrap; */
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 2; */
  /* -webkit-box-orient: vertical; */
  height: 38px;
}

.fixed-size {
  flex: 0 0 20vw;
  width: 20vw;
  max-width: 100%;
  min-width: 50%;
  align-self: center;
}
.open_fulltext {
  align-self: end;
}
.open_fulltext:hover {
  align-self: end;
  color: #81804f;
}

.hide_fulltext {
  align-self: end;
}
.hide_fulltext:hover {
  align-self: end;
  color: #81804f;
}

.close {
  flex: 0 0 3vw;
  display: flex;
  align-items: center;
}

.full-text {
  hyphens: auto;
  overflow: auto;
}

.text {
  hyphens: auto;
  overflow: auto;
}
