.content {
  /* margin-bottom: 80px; */
  /* grid-area: Content; */
  /* overflow: auto; */
  /* height: 80vh; */
  /* justify-self: center; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;

  /* justify-content: center;
  width: 25vw; */
}
