.weatherform {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #024c68;
  row-gap: 0px;
  grid-template-areas:
    'City'
    'temp-data'
    'details';
}

.city {
  grid-area: City;
  color: #62b1d0;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 50em;
}
.name-city {
  color: #62b1d0;
  background-color: #0776a0;
  border-radius: 10px;
  transition: background-color 0.3s;
  grid-row: 1;
  max-width: 10em;
  max-height: 10em;
  padding-left: 5em;
  padding-right: 5em;
  align-items: end;
}
.name-city:hover {
  background-color: #2f8fb3;
  color: #1b4453;
}
temperature-date {
  grid-area: temp-data;
  display: grid;
  grid-template-areas:
    'C K'
    'C F';
}
.temperature {
  color: #62b1d0;
  display: grid;
  grid-row: 2;
  justify-items: stretch;
  align-items: center;
  white-space: nowrap;
  max-width: 100em;
  max-height: 100em;
  background-color: bisque;
}

.not-found-city {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(94, 45, 45);
  background-color: rgb(216, 103, 75);
}

@media screen and (max-width: 480px) {
  .name-city {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.read-or-hide-details {
  cursor: pointer;
  color: #62b1d0;
  max-width: 100em;
  max-height: 100em;
  grid-row: 3;
  transition: color 0.3s;
}
.read-or-hide-details:hover {
  color: #26a1aa;
}
.weather-details {
  grid-area: details;
  cursor: pointer;
  color: #62b1d0;
  transition: color 0.3s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 3;
  gap: 10px;
}
.weather-details:hover > div {
  color: #26a1aa;
}
