.weatherform {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #293251;
  row-gap: 0px;
  grid-template-areas:
    'City'
    'temp-data'
    'details';
  grid-template-columns: 100%;
  grid-template-rows: fit-content(250px);
}

.custom-select-weather__control {
  position: relative !important;
  -webkit-transition: all 100ms !important;
  transition: all 100ms !important;
  background-color: #293251 !important;
  border: none !important;
  box-shadow: none !important;
}
.custom-select-weather__menu {
  position: relative !important;
  -webkit-transition: all 100ms !important;
  transition: all 100ms !important;
  background-color: #293251 !important;
  border: none !important;
  box-shadow: none !important;
  color: #f3f9ff !important;
}

.custom-select-weather__input {
  color: #f3f9ff !important;
}

.custom-select-weather__option {
  cursor: pointer !important;
  background-color: #384266 !important;
  color: #9cc0e0 !important;
  &--is-focused {
    background-color: #83c6fa !important;
    color: #9cc0e0 !important;
  }
}
.custom-select-weather__option:hover {
  background-color: #83c6fa !important;
  color: #293251 !important;
}

.city {
  grid-area: City;
}
.name-city {
  color: #f3f9ff;
  /* transition: background-color 0.3s;
  grid-row: 1;
  max-width: 10em;
  max-height: 10em;
  padding-left: 5em;
  padding-right: 5em;
  align-items: end; */
}
/* .name-city:hover {
  background-color: #384266;
  color: #9cc0e0;
} */
.temperature-date {
  grid-area: temp-data;
  display: grid;
  justify-items: center;
  align-items: stretch;
  color: #f3f9ff;

  /* grid-template-areas:
    'C K'
    'C F'; */
}
.temperature {
  color: #62b1d0;
  display: grid;
  grid-row: 2;
  justify-items: stretch;
  align-items: center;
  white-space: nowrap;
  max-width: 100em;
  max-height: 100em;
  background-color: bisque;
  overflow-x: scroll;
  white-space: nowrap;
}
.feels-like {
  color: #b0c4dd;
}

.not-found-city {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(94, 45, 45);
  background-color: rgb(216, 103, 75);
}

@media screen and (max-width: 480px) {
  .name-city {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.read-or-hide-details {
  cursor: pointer;
  color: #62b1d0;
  max-width: 100em;
  max-height: 100em;
  grid-row: 3;
  transition: color 0.3s;
}
.read-or-hide-details:hover {
  color: #26a1aa;
}
.weather-details {
  grid-area: details;
  cursor: pointer;
  color: #62b1d0;
  transition: color 0.3s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 3;
  gap: 10px;
}
.weather-details:hover > div {
  color: #26a1aa;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
