.header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 80px;
  background-color: #9ae990;
  display: grid;
  grid-template-columns: repeat(8, 10fr);
  align-items: center;
  gap: 1vw;
}
.input-task {
  border: none;
  border-bottom: 1px solid #0a3050;
  outline: none;
  background-color: #9ae990;
}
.input-task:focus {
  border: none;
  border-bottom: 1px solid #0a3050;
  outline: none;
  background-color: #9ae990;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.label-input-task {
  color: #c92e2e;
  animation: fadeIn 1s;
}

.error-input-task {
  border: none;
  border-bottom: 1px solid #c92e2e;
  outline: none;
  background-color: #9ae990;
  animation: fadeIn 1s;
}
.error-input-task:focus {
  border: none;
  border-bottom: 1px solid #c92e2e;
  outline: none;
  background-color: #9ae990;
  animation: fadeIn 1s;
}

.div-input-task {
  display: flex;
  flex-wrap: wrap;
}

.btn-addtask {
  color: #0a3050;
  background-color: #7bb64a;
  border: 1px solid #7bb64a;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 100px;
  max-height: 80px;
}
.btn-findtask {
  color: #0a3050;
  background-color: #7bb64a;
  border: 1px solid #7bb64a;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 100px;
  max-height: 80px;
}
.btn-delete-all {
  color: #0a3050;
  background-color: #7bb64a;
  border: 1px solid #7bb64a;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 100px;
  max-height: 80px;
}
.btn-delete-grope {
  color: #0a3050;
  background-color: #7bb64a;
  border: 1px solid #7bb64a;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 100px;
  max-height: 80px;
}
.btn-iscompleted-all {
  color: #0a3050;
  background-color: #7bb64a;
  border: 1px solid #7bb64a;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 100px;
  max-height: 80px;
}
.btn-noiscompleted-all {
  color: #0a3050;
  background-color: #7bb64a;
  border: 1px solid #7bb64a;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 100px;
  max-height: 80px;
}
.btn-home {
  color: #0a3050;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #7bb64a;
  border: 1px solid #7bb64a;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 100px;
  max-height: 80px;
}
